body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.plans-page {
    background-color: #D6FD51;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}


.unlock-plans {
    text-align: center;
    height: 40%;
}

.unlock-plans p {
    position: absolute;
    font-size: 24px;
    top: 15vh;
    right: 30%;
}

.unlock-plans span {
    font-size: 16px;
    position: absolute;
    top: 27vh;
    right: 22%;
}


.payment-card-container {
    display: flex;
    width: 100%;
    top: 80vh;
    height: 55vh;
}


.basic-card {
    background-color: #27282E;
    border-radius: 10px;
    width: 25%;
    padding: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.basic-card hr {
    position: inherit;
    width: 100%;
    color: white;
}

.basic-card button {
    background-color: white;
    color: #17181F;
    width: 35%;
    border-radius: 5px;
    height: 10%;
}

.basic-card button:hover {
    background-color: #8f9097;
}


.premium-card {
    background-color: #8FFF00;
    border-radius: 10px;
    width: 75%;
    padding: 20px;
    margin-left: 20px;
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.premium-card p {
    margin-bottom: 0;
}

.premium-card hr {
    position: inherit;
    width: 100%;
    color: whitesmoke;
    margin-bottom: 20px;
    margin-top: 48px;
}

.premium-card button {
    margin-top: 20px;
    background-color: #17181F;
    color: white;
    width: 15%;
    border-radius: 5px;
    height: 11%;
}

.premium-card button:hover {
    background-color: #8f9097;
}

.gothic-word {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 24px;
}

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Smooch+Sans:wght@500&display=swap");