.powerhouse-container {
    font-family: Arial, sans-serif;
    /* background-color: #2D2E2D; */
    background-image: url("/public/Assets/bg-review.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* This will ensure the image covers the whole viewport */
    background-position: center center;
    /* This will center the image in the viewport */
    background-attachment: fixed;
    /* This ensures the background remains fixed when scrolling */
    color: black;
    padding: 20px;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
}

nav a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
}

.search-bar {
    padding: 5px;
    border: 2px solid white;
}

.comments-page h1 {
    font-size: 48px;
    text-align: left;
    margin-bottom: 10px;
    color: black;
    font-family: 'Orbitron', sans-serif;
}

.slider-arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.slider-arrows span {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.feedback-section {
    display: flex;
    justify-content: space-between;
}

.feedback-card{
    background-color: rgba(208, 236, 116, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}
.testimonial-card {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    border: 2px solid rgba(255, 255, 255, 0.5); 
}

.feedback-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Smooch Sans', sans-serif;
}

.feedback-tags span {
    background-color: white;
    color: #2D2E2D;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-family: 'Smooch Sans', sans-serif;
    cursor: pointer;
}

.feedback-card textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

.feedback-card button {
    background-color: white;
    color: #2D2E2D;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Smooch Sans', sans-serif;
}

.feedback-card button:hover {
    background-color: #81D41A;
    color: white;
}

.testimonial-card p {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 24;

}

.testimonial-footer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonial-footer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.testimonial-footer span{
    color: white;
    font-size: 28;
}

.add-comment {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

.add-comment:hover {
    text-decoration: underline;
    cursor: pointer;
}

.add-comment-section {
    background-color: #4A4B4A;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.emoji-icon {
    margin: 5px;
    cursor: pointer;
}

.emoji-icon:hover {
    color: #d4c81a;
}

.comment-navigation {
    display: flex;
    justify-content: space-between; 
  }
.arrow {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #81D41A;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
  }
  
  .left-arrow {
    margin-right: 10px;
  }
  
  .right-arrow {
    margin-left: 10px;
  }