/* .page{
    background: black;
    max-height: 100vh;  
}
.register{
    color: #D6FD51;
    text-align: center;
    top: 20px;

} */

.page {
    background: #000; 
    height: 125vh; 
    color: #fff; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  
  .register {
    position: absolute;
    text-align: center;
    top: 10%;
    font-family: 'Orbitron', sans-serif;
    color: #D6FD51;
    font-size: 40px;
    font-weight: 800;
  }

  .classes-container {
    position: absolute;
    display: flex; 
    justify-content: space-between;
    top: 20vh; 
  }

  .class-card {
    width: 300px; 
    margin: 20px; 
    padding: 20px; 
    background: none; 
    border-radius: 10px; 
    text-align: center;
    border: 2px solid #D6FD51;
  }
  .class-card:hover {
    transform: scale(1.05);
  }
  .class-card img {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
  }
  
  .class-card button {
    background: #D6FD51; 
    color: black; 
    padding: 7px 55px; 
    border: none; 
    border-radius: none; 
    cursor: pointer;
    transform: skew(-20deg); 
  }

  .image-wrapper {
    position: relative; 
  }
  
  .beginner-text {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%;
    top: 77%; 
    text-align: center; 
    background: transparent; 
    color: #fff; 
    padding: 10px; 
    font-family: 'Smooch sans', sans-serif;
    font-size: 50px;
  }
  .span{
    color: #D61C4E;
    font-weight: 800;
  }
  @import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap");

  @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap"); 