/* .page{
    background: black;
    max-height: 100vh;  
}
.register{
    color: #D6FD51;
    text-align: center;
    top: 20px;

} */

.page {
    background: #000; 
    height: 125vh; 
    color: #fff; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  
  .register {
    position: absolute;
    text-align: center;
    top: 15%;
  }

  .classes-container {
    position: absolute;
    display: flex; 
    justify-content: space-between;
    top: 20vh; 
  }

  .class-card {
    width: 300px; 
    margin: 20px; 
    padding: 20px; 
    background: none; 
    border-radius: 10px; 
    text-align: center;
    border: 2px solid #D6FD51;
  }
  .class-card img {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
  }
  
  .class-card button {
    background: #000; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }

  .image-wrapper {
    position: relative; 
  }
  
  .beginner-text {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    text-align: center; 
    background: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    padding: 10px; 
  }
  