
.plans-page {
    background-color: #f2f2f2; 
    height: 80vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }
  
  
  .unlock-plans {
    text-align: center; 
  }
  
  .unlock-plans p {
    font-size: 24px; 
  }
  
  .unlock-plans span {
    font-size: 16px; 
  }
  
  
  .payment-card-container {
    display: flex; 
    width: 100%; 
  }
  
  
  .basic-card {
    background-color: #fff;
    border-radius: 10px; 
    width: 25%; 
    padding: 20px; 
    margin-left: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
  }
  
  .basic-card hr {
    width: 100%; 
  }
  
  
  .premium-card {
    background-color: #e5e5e5; 
    border-radius: 10px; 
    width: 75%; 
    padding: 20px; 
    margin-left: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
  }
  
  .premium-card p {
    margin-bottom: 0; 
  }
  .premium-card hr {
    width: 100%; 
  }
  